* {
    margin:0;
    padding:0;
}

html, body, .page {
    height:100%;
    width:100%;
}
body {
    position:relative;
}
.back {
    background:url('./1.jpg') no-repeat center center;
    background-size:cover;
    position:absolute;
    height:100%;
    width:100%;
    opacity:0.5;
    z-index:-1;
}
main {
    height:60vh;
    padding-left:15vh;
    padding-top:15vh;
}
.back2 {
    background-color:rgba(0,0,0,0.6);   
}
.pic {
    background:url('./2.jpg') no-repeat center center;
    background-size:cover;
    height:40vh;
    width:40vh;
    margin-bottom:5vh;
}
.left {
    float:left;
    width:40vh;
}
.button {
    padding-left:1vh;
}
.button a {
    padding-right:12vh;
    color:#777;
    cursor:pointer;
}
.button a:last-child {
    padding-right:0;
}
.button .iconfont {
    font-size:4vh;
}
.button .iconfont:hover {
    color:rgb(227,221,215);
}
.right {
    margin-left:50vh;
}
.right h1 {
    font-family:'Times New Roman';
    color:white;
    -webkit-line-clamp:2;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.icon {
    color:white;
    padding-top:8vh;
}
.icon .item {
    display:inline-block;
    padding-right:10vh;
}
.icon .item .iconfont {
    font-size:3vh;
}
.timebar {
    margin-top:10vh;
    width:40vw;
    height:.7vh;
    background-color:grey;
    display:inline-block;
}
.current {
    width:0vw;
    height:.7vh;
    background-color:white;
    transition:.8s;
}
.right > span {
    color:white;
    font-size:2vh;
}
.lyrics p.singer{
    padding-top:3vh;
    line-height:2em;
    color:rgb(238, 226, 226);
}
.right .lyrics {
    color:grey;
    line-height:1.5em;
}
.lyrics p {
    padding-top:2vh;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
footer {
    margin:0 3vw;
}
.leftBtn {
    float:left;
    padding:5.5vh 0;
    width:8vw;
    text-align:center;
}
.rightBtn {
    float:right;
    text-align:center;
    width:8vw;
    padding:5.5vh 0;
}
.leftBtn i,
.rightBtn i {
    font-size:10vh;
    display:inline-block;
    color:grey;
    cursor:pointer;
}
.leftBtn i:hover,
.rightBtn i:hover {
    color:rgb(227,221,215);
}
.box {
    position:relative;
    width:60vw;
    overflow:hidden;
}
.album {
    position:absolute;
    white-space:nowrap;
}
footer {
    display:flex;
    align-items:spance-around;
    justify-content:center;
}
.song {
    display:inline-block;
    margin:3vh 1vw;
    cursor:pointer;
    text-align:center;
    font-family:cursive;
    color:rgba(255,255,255,.5)
}
.song .cover {
    background-size:cover;
    width:8vw;
    height:14vh;
}
.album .song p {
    line-height:1.5em;
}
.song:hover {
    box-shadow:0 0 2px 2px white;
}

.star {
    color:white;
}
